<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta
      name="description"
      content="Oneyel Coffee is a Simple Web Coffee Shop"
    />
    <title>Oneyel Coffee</title>
    <link rel="shortcut icon" href="../public/icon/logo.svg" />
  </head>
  <body>
    <header>
      <nav>
        <div class="container">
          <!-- Logo -->
          <a class="logo" href="#">
            <img
              src="../public/icon/logo.svg"
              class="logo-img"
              alt="Logo Coffee"
            />
          </a>
          <!-- Hamburger Button -->
          <button
            class="nav-toggle effect"
            type="button"
            aria-label="Toggle navigation"
          >
            <span></span>
            <span></span>
            <span></span>
          </button>
          <!-- Navigasi -->
          <div id="wrapper">
            <ul>
              <li>
                <a class="nav-link active" href="#home">Home</a>
              </li>
              <li>
                <a class="nav-link" href="#story">Story</a>
              </li>
              <li>
                <a class="nav-link" href="#menu">Menu</a>
              </li>
              <li>
                <a class="nav-link" href="#location">Location</a>
              </li>
              <li>
                <a class="nav-link" href="#contact">Contact</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    </header>
    <main>
      <div id="content">
        <div id="home" class="spy">
          <!-- Main Image -->
          <section class="banner"></section>
          <div class="containers">
            <div class="col">
              <h1>Oneyel Coffee</h1>
            </div>
          </div>
        </div>

        <!-- Story Section -->
        <article id="story" class="spy">
          <!-- Text -->
          <div class="story-text">
            <h2>Story.</h2>
            <p>
              Oneyel Coffee was founded in August 2020 in a simple rented
              building. Oneyel Coffee focuses on being a comfortable place to
              work and hangout for everyone without forgetting to provide the
              best service for all visitors.
            </p>
          </div>
          <!-- Image -->
          <div class="story-img">
            <img src="../public/images/story.png" alt="Story Image" />
          </div>
        </article>

        <!-- Menu Section -->
        <article id="menu" class="spy">
          <!-- Title -->
          <div class="judul">
            <h2>Menu.</h2>
          </div>
          <!-- Menu Image -->
          <div class="menu">
            <div class="menu-img">
              <img src="../public/images/menu-a.png" alt="Menu-A Image" />
              <p>Coffee</p>
            </div>
            <div class="menu-img">
              <img src="../public/images/menu-b.png" alt="Menu-B Image" />
              <p>Non-Coffee</p>
            </div>
            <div class="menu-img">
              <img src="../public/images/menu-c.png" alt="Menu-C Image" />
              <p>Dessert</p>
            </div>
          </div>
        </article>

        <!-- Location Section-->
        <article id="location" class="spy">
          <!-- Title -->
          <div class="judul">
            <h2>Location.</h2>
          </div>
          <div class="loc">
            <!-- Image -->
            <div class="lc-img">
              <img src="../public/images/in-store.png" alt="Location Image" />
            </div>
            <!-- Maps -->
            <div class="map">
              <iframe
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d253497.13516734913!2d107.50307079265457!3d-6.90342901505421!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x2e68e6398252477f%3A0x146a1f93d3e815b2!2sBandung%2C%20Bandung%20City%2C%20West%20Java!5e0!3m2!1sen!2sid!4v1626393190033!5m2!1sen!2sid"
                width="400"
                height="300"
                style="border: 0"
                allowfullscreen=""
                loading="lazy"
              ></iframe>
            </div>
            <!-- Address Text -->
            <div class="loc-text">
              <p>
                <span
                  ><img src="../public/icon/map.svg" alt="location icon"
                /></span>
                Jl. Melati No. 278, Bandung, Jawa Barat 40925
              </p>
            </div>
          </div>
        </article>

        <!-- Contact Section -->
        <article id="contact" class="spy">
          <!-- Title -->
          <div class="judul">
            <h2>Contact.</h2>
          </div>
          <div class="container-ctc">
            <!-- Left -->
            <div class="contact-left">
              <!-- Text -->
              <div class="text">
                <p>
                  <span
                    ><img
                      src="../public/icon/phone.svg"
                      alt="icon phone" /></span
                  >+62881-0227-3270-8
                </p>
                <p>
                  <span
                    ><img
                      src="../public/icon/mail.svg"
                      alt="icon message" /></span
                  >coffee@oneyel.com
                </p>
                <p>
                  <span
                    ><img
                      src="../public/icon/instagram.svg"
                      alt="icon instagram" /></span
                  >@oneyel_coffee
                </p>
              </div>
              <!-- Ojek Image -->
              <div class="ojek-logo">
                <img src="../public/images/gofood.png" alt="GoFood Logo" />
                <img src="../public/images/grabfood.png" alt="GrabFood Logo" />
              </div>
            </div>
            <!-- Right -->
            <div class="contact-right">
              <!-- Input -->
              <div class="input">
                <label for="mail"
                  >Enter your E-mail and get special voucher!</label
                >
                <form action="#">
                  <input type="email" id="mail" required />
                  <input type="submit" value="I Want!" />
                </form>
              </div>
            </div>
          </div>
        </article>
      </div>
    </main>
    <footer>
      <!-- Copyright -->
      <p>Copyright &#169; 2021 Oneyel Coffee</p>
    </footer>
  </body>
</html>
